<center>
    <p>Hello, world!</p>
    <br>
    <p>If you see a set of random characters (UUID), that means this page is working fine. If not, check <a href="https://support.monday.com/hc/en-us/articles/360002197259-How-to-open-the-developer-console" target="_blank">JavaScript Dev Console</a>.</p>
    <p id="uuid"></p>
    <br>
    <p>P/S: this UUID will be changed on page refresh</p>
</center>
